.container {
  width: 100%;
  padding-inline: 40px;
  @media (max-width: 768px) {
    padding-inline: 12px;
  }

  &__inlay {
    max-width: 1230px;
    width: 100%;
    margin-inline: auto;
  }
}

.body {
  padding-top: 43px;
  padding-bottom: 160px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-right: 52px;
  @media (max-width: 990px) {
    margin-right: unset;
  }

  &__subheading {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--gray-900);
    text-align: center;
  }

  &__heading {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: var(--gray-900);
    text-align: center;
  }
}

.controls {
  display: flex;
  margin-top: 85px;
  margin-bottom: 59px;
  gap: 20px;

  @media (max-width: 990px) {
    flex-direction: column-reverse;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  @media (max-width: 768px) {
    margin-top: 40px;
    margin-bottom: 24px;
  }

  &__filters {
    flex: 1;
  }

  &__search {
    flex: 0;
  }
}

.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.search {
  &__input {
    border: 1px solid var(--gray-400);
    border-radius: 4px;
    width: 315px;
    height: 44px;
    padding-top: 2px;
    padding-left: 14px;
    padding-right: 40px;
    background-image: url("assets/search.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 50%;

    @media (max-width: 640px) {
      width: 100%;
    }
  }
}

.course-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  @media (max-width: 1180px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    gap: 15px;
  }
  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}
